.navbarheading {
    font-size: 1rem;
    color: black;
    text-decoration: none;
    font-family: cursive;
    float: left;
    text-align: center;
    padding: 14px 25px;
}

.navbar {
    height: 1.5cm;
    overflow: hidden;
}

/* This changes the properties of the div in which the content is positioned */
.about{
    padding-left: 1cm;
    padding-right: 1cm;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
    background-color: rgb(227, 234, 234);
}

#greeting {
    font-size: 1.5cm;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.imgShanay {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding-bottom: 1cm;
}

#name {
    color: rgb(42, 171, 190);
}

.table {
    border: 1px solid;
    padding-left: 15px;
    margin-right: 50cm;
}

#about, #projectsInner, #technicalSkills, #contact   {
    margin-left: 1cm;
    margin-right: 1cm;
}

#projectsOuter {
    background-color: rgb(230, 231, 231);
    margin-left: 0%;
}

#projectsInner {
    padding-top: 0.1%;
    padding-bottom: 0.1%;

}



/* I had a problem with my sticky nav bar positioned above my anchor heading. The below link solved my problem
https://getpublii.com/blog/one-line-css-solution-to-prevent-anchor-links-from-scrolling-behind-a-sticky-header.html */
html {
    scroll-padding-top: 4rem;
}


h2 {
    text-align: center;
    font-style: italic;
    color: rgb(42, 171, 190);
}

.bio p {
    text-align: justify;
    line-height: 35px;
}


p {
    text-align: justify;
}
